<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Bank</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <h1>HELLO BANK</h1>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a th:href="@{/operations}" class="nav-link">Operations</a></li>
                <li class="nav-item"><a th:href="@{/accounts}" class="nav-link">Accounts</a></li>
                <li class="nav-item"><a th:href="@{/clients}" class="nav-link">Clients</a></li>
            </ul>
        </div>
    </nav>
</header>
<section layout:fragment="content">
    <h1>Test</h1>
</section>
</body>
</html>