<!DOCTYPE html>
<html layout:decorate="~{template1}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <title>Accounts</title>
</head>
<body>
<div layout:fragment="content">
    </br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="panel-title">Account Checking</h3>
                </div>
                <div class="card-body">
                    <form method="get" th:action="@{/checkAccount}">
                        <div>
                            <label>Account Code :</label>
                            <input name="idAccount" type="text"/>
                            <button class="btn btn-primary" type="submit">OK</button>
                        </div>
                    </form>
                    <div class="text-danger" th:if="${exception}" th:text="${exception.message}"></div>
                </div>
            </div>
            </br>
            <div class="card card-info" th:if="${account}">
                <div class="card-header">
                    <h3 class="panel-title">Account Information</h3>
                </div>
                <div class="card-body">
                    <div>
                        <label>Id:</label>
                        <label th:text="${account.idAccount}"></label>
                    </div>
                    <div>
                        <label>Client:</label>
                        <label th:text="${account.client.name}"></label>
                    </div>
                    <div>
                        <label>Type:</label>
                        <label th:text="${account.type}"></label>
                    </div>
                    <div>
                        <label>Date:</label>
                        <label th:text="${account.dateOfCreation}"></label>
                    </div>
                    <div>
                        <label>Balance:</label>
                        <label th:text="${account.balance}"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-primary" th:if="${account}">
                <div class="card-header">
                    <h3 class="panel-title">Account Operations</h3>
                </div>
                <div class="card-body">
                    <form method="post" th:action="@{/saveOperation}">
                        <div>
                            <label>Account:</label>
                            <input name="idAccount" th:value="${account.idAccount}" type="hidden"/>
                            <label th:text="${account.idAccount}"></label>
                        </div>
                        <div>
                            <input checked="checked" name="typeOperation"
                                   onchange="document.getElementById('forTransfer').style.display='none'" type="radio"
                                   value="DEP"/>
                            <label>Deposit</label>
                            <input name="typeOperation"
                                   onchange="document.getElementById('forTransfer').style.display='none'" type="radio"
                                   value="WTR"/>
                            <label>Withdraw</label>
                            <input name="typeOperation"
                                   onchange="document.getElementById('forTransfer').style.display='block'" type="radio"
                                   value="TRS"/>
                            <label>Transfer</label>
                        </div>
                        <div id="forTransfer" style="display:none">
                            <label>To:</label>
                            <input name="toIdAccount" type="text"/>
                        </div>
                        <div>
                            <label>Amount:</label>
                            <input name="amount" type="text"/>
                        </div>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </form>
                </div>
            </div>
            </br>
            <div class="card card-info" th:if="${account}">
                <div class="card-header">
                    <h3 class="panel-title">Operations List</h3>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <th>Id</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Amount</th>
                        </tr>
                        <tr th:each="o:${listOperations}">
                            <td th:text="${o.id}"></td>
                            <td th:text="${o.type}"></td>
                            <td th:text="${o.dateOfOperation}"></td>
                            <td th:text="${o.amount}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>