<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template1}">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <title>Operations</title>
</head>
<body>
<div layout:fragment="content">
    </br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="panel-title">Account Checking</h3>
                </div>
                <div class="card-body">
                    <form th:action="@{/checkAccount}" method="get">
                        <div>
                            <label>Account Code :</label>
                            <input type="text" name="idAccount"/>
                            <button type="submit" class="btn btn-primary">OK</button>
                        </div>
                    </form>
                    <div class="text-danger" th:if="${exception}" th:text="${exception.message}"></div>
                </div>
            </div>
            </br>
            <div class="card card-info" th:if="${account}">
                <div class="card-header">
                    <h3 class="panel-title">Account Information</h3>
                </div>
                <div class="card-body">
                    <div>
                        <label>Id:</label>
                        <label th:text="${account.idAccount}"></label>
                    </div>
                    <div>
                        <label>Client:</label>
                        <label th:text="${account.client.name}"></label>
                    </div>
                    <div>
                        <label>Type:</label>
                        <label th:text="${account.type}"></label>
                    </div>
                    <div>
                        <label>Date:</label>
                        <label th:text="${account.dateOfCreation}"></label>
                    </div>
                    <div>
                        <label>Balance:</label>
                        <label th:text="${account.balance}"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-primary" th:if="${account}">
                <div class="card-header">
                    <h3 class="panel-title">Account Operations</h3>
                </div>
                <div class="card-body">
                    <form th:action="@{/saveOperation}" method="post">
                        <div>
                            <label>Account:</label>
                            <input type="hidden" name="idAccount" th:value="${account.idAccount}"/>
                            <label th:text="${account.idAccount}"></label>
                        </div>
                        <div>
                            <input type="radio" name="typeOperation" value="DEP" checked="checked" onchange="document.getElementById('forTransfer').style.display='none'"/>
                            <label>Deposit</label>
                            <input type="radio" name="typeOperation" value="WTR" onchange="document.getElementById('forTransfer').style.display='none'"/>
                            <label>Withdraw</label>
                            <input type="radio" name="typeOperation" value="TRS" onchange="document.getElementById('forTransfer').style.display='block'"/>
                            <label>Transfer</label>
                        </div>
                        <div id="forTransfer" style="display:none">
                            <label>To:</label>
                            <input type="text" name="toIdAccount"/>
                        </div>
                        <div>
                            <label>Amount:</label>
                            <input type="text" name="amount"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
            </br>
            <div class="card card-info" th:if="${account}">
                <div class="card-header">
                    <h3 class="panel-title">Operations List</h3>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <th>Id</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Amount</th>
                        </tr>
                        <tr th:each="o:${listOperations}">
                            <td th:text="${o.id}"></td>
                            <td th:text="${o.type}"></td>
                            <td th:text="${o.dateOfOperation}"></td>
                            <td th:text="${o.amount}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>