<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bank</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <h1>FIREC BANK BANK</h1>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/accounts}">Accounts</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/clients}">Clients</a></li>
            </ul>
        </div>
    </nav>
</header>
<section layout:fragment="content">
    <h1>Test</h1>
</section>
</body>
</html>